---
layout: default
---


{% for post in paginator.posts %}
<div class="post">
            <a class="post-item" href="{{ post.url|prepend: site.baseurl }} ">
              <div class="post-img">
                <img class="responsive-img" src="{{ site.baseurl }}{{ post.image}}/{{ post.slug }}.jpg" alt="{{ post.title }}">
              </div>
              <div class="post-contant">
                <div class="td">
                  <div class="date-item">
                    <h5 class="text-date">{{post.date | date:"%d<br><small>%m/%Y</small>"}}</h5>
                  </div>
                  </div>
                  <div class="td">
                    <span class="title"><i class="fa fa-{{ post.icon }} " aria-hidden="true"></i> {{ post.catname }} <br></span>
                    <span class="title-name"> {{ post.title }}</span>
                  </div>               
              </div>
            </a>
          </div>

{% endfor %}
{% if paginator.total_pages > 1 %}
<div class="page">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Назад</a>
  {% else %}
    <span>&laquo; Назад</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Вперед &raquo;</a>
  {% else %}
    <span>Вперед &raquo;</span>
  {% endif %}
</div>
{% endif %}
