<header>
  <div class="container">
    <div class="row">
    <div class="top_line">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"><a href="{{ site.url }}"><img class="logo" src="{{ site.url }}/assets/img/azlife1w.svg" alt=""></a></div>
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12"><div class="top_line_text"><h1><span><i class="fa fa-cog fa-spin" aria-hidden="true"></i> Создание сайтов <i class="fa fa-cog fa-spin" aria-hidden="true"></i> Блог о WEB design <i class="fa fa-cog fa-spin" aria-hidden="true"></i></span>
</h1></div></div>
      <div class="col-lg-3">
        <div class="top_line_social">
           <a href=""><i class="fa fa-github" aria-hidden="true"></i></a>  <a href=""><i class="fa fa-vk" aria-hidden="true"></i></a>  <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a> 
        </div>  
      </div>
    </div>
    </header>
