<body>
  <header>
  
        <div class="top_line">
          <div class="high_menu">
            <nav>
              <ul>
                <li><a href="{{ site.url }}/blog/okna.html">Окна</a></li>
                <li><a href="{{ site.url }}/blog/dveri.html">Двери</a></li>
                <li><a href="{{ site.url }}/blog/rafshtory.html">Наружные жалюзи</a></li>
                <li><a href="{{ site.url }}/blog/rollstavni.html">Рольставни</a></li>
                <li><a href="{{ site.url }}/blog/rull.html">Рулонные шторы</a></li>
                <li><a href="{{ site.url }}/blog/plisse.html">Плиссе</a></li>
                <li><a href="{{ site.url }}/blog/zaluzi.html">Жалюзи</a></li>
                <li><a href="{{ site.url }}/blog/karniz.html">Электрокарнизы</a></li>
                <li><a href="{{ site.url }}/blog/markizi.html">Маркизы</a></li>
                
              </ul>
            </nav>
          </div>
        </div>
      
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="logo">
          <img src="{{ site.url }}/assets/img/beriokna.svg" alt="БериОкна">
        </div>
      </div>
      <div class="col-lg-7">
        <div class="general_menu">
          <nav>
            <ul>
              <li> <a href="{{ site.url }}/index.html">Главная</a> </li>
              <li><a href="{{ site.url }}/blog/about.html">О компании</a></li>
              
              <li><a href="{{ site.url }}/blog/ourwork.html">Наши работы</a></li>
              <li><a href="{{ site.url }}/blog/contact.html">Контакты</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="general_tel">
          <div class="tel"><a href=""><i class="fa fa-phone" aria-hidden="true"></i> +7(999) 628-42-88</a></div>
          <div class="callback_tel"><a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i> Оставить заявку</a></div>
        </div>        
      </div>
    </div>
  </div>
