<!DOCTYPE html>
<html lang="ru">

  {% include head.html %}
  {% include header.html %}

<div class="container">
    <div class="row">
    <div class="col-lg-8 ">
        <div class="okno_text">
          <h1>Пластиковые окна и двери</h1>
          <h2>Алюминиевые окна и двери</h2>
        </div>
        <div class="okno_tizer">
          <ul>
            <li><i class="fa fa-check" aria-hidden="true"></i> Бесплатный замер</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> Бесплатный демонтаж</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> Опыт работы более 15 лет</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> Профессианолизм и порядочность</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> Скидки</li>
          </ul>
        </div>
        
      </div>
      <div class="col-lg-4">
        <img class="oknoimg" src="{{ site.url }}/assets/img/oknopvh.png" alt="">
      </div>
      
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="accses_text">
          <h2>А так же...солнцезащитные системы и маркизы</h2>
        </div>
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="image_slide"><img src="{{ site.url }}/assets/img/owl/catalog_23322bd1a18a02bfcb586318225f77d5.jpeg" alt=""></div>
                <div class="text_slide"><h4>Наружные жалюзи</h4></div>
              </div>
              <div class="swiper-slide">
                <div class="image_slide"><img src="{{ site.url }}/assets/img/owl/catalog_32dcc7e46ab1992b5b11412887810f5b.jpg" alt=""></div>
                <div class="text_slide"><h4>Плиссе</h4></div>
              </div>
              <div class="swiper-slide">
                <div class="image_slide"><img src="{{ site.url }}/assets/img/owl/catalog_591cd2110ce8d26aed1d3f87f370efc7.jpg" alt=""></div>
                <div class="text_slide"><h4>Рулонные шторы</h4></div>
              </div>
              <div class="swiper-slide">
                <div class="image_slide"><img src="{{ site.url }}/assets/img/owl/catalog_5eb77fe48768458a1865b6ba3e83bfd0.jpeg" alt=""></div>
                <div class="text_slide"><h4>Рольставни</h4></div>
              </div>
              <div class="swiper-slide">
                <div class="image_slide"><img src="{{ site.url }}/assets/img/owl/catalog_3d8c8263d10f9e1275836a3bb4713747.jpg" alt=""></div>
                <div class="text_slide"><h4>Маркизы</h4></div>
              </div>
              <div class="swiper-slide">
                <div class="image_slide"><img src="{{ site.url }}/assets/img/owl/carniz.JPG" alt=""></div>
                <div class="text_slide"><h4>Электрокарнизы</h4></div>
              </div>
              <div class="swiper-slide">
                <div class="image_slide"><img src="{{ site.url }}/assets/img/owl/jaluzi.jpg" alt=""></div>
                <div class="text_slide"><h4>Жалюзи</h4></div>
              </div>
              
            </div>
          </div>
      </div>
    </div>
  </div>
    
  </header>
{% include footer.html %}
