<!DOCTYPE html>
<html lang="ru">

  {% include head.html %}
  {% include header.html %}
<div class="container">
		<div class="row">
		<div class="col-lg-12">
			<div class="html_title"><h1>Электрокарнизы</h1></div>
		</div>
		<div class="col-lg-6">
				<div class="okno_html_title">
					
					
			
				<img class="okno_html_img" src="{{ site.url }}/assets/img/owl/karniz.png" alt="">
			</div>
			
		</div>
		<div class="col-lg-6">
		<div class="form_title">
			<h2>Оставить заявку на карнизы</h2>
		</div>
			<form action="https://formspree.io/sale@okna.site" method="POST">
				<label>
					<span>Ваше имя:</span>
					<input type="text" name="Имя" placeholder="Ваше имя...">
				</label>

				<label>
					<span>Ваш телефон:</span>
					<input type="text" name="Телефон" placeholder="Ваш телефон..." required>
				</label>
				<textarea name="Заявка" id="" placeholder="Ваша заявка..."></textarea>
    			<input type="submit" value="Отправить заявку" class="submit">
			</form>
		</div>
		<div class="col-lg-12">
			<div class="okna_html_text">
				<h3>Оригинальную техническую новинку, заменяющую стандартные шторы, по достоинству оценили владельцы офисных помещений, ресторанов и фешенебельных апартаментов. Карнизы, оснащенные электроприводом, показались им на редкость оригинальными и чрезвычайно удобными в эксплуатации. На тот момент стоимость таких систем была довольно высокой, поэтому позволить ее себе могли далеко не многие.

С течением времени электрокарнизы изменились в лучшую сторону: стали гораздо надежнее и долговечны, а их стоимость заметно снизилась. Теперь приобрести системы, оснащенные электроприводом, может любой желающий, просто обратившись к специалистам компании "Бери Окна".

</h3>
				

			</div>
		</div>
	</div>
	</div>
	
		
	</header>

 {% include footer.html %}