<!DOCTYPE html>
<html lang="ru">

 {% include head.html %}
 {% include header.html %}

 <div class="container">
    <div class="row">
    <div class="col-lg-12">
      <div class="html_title"><h1>О нас</h1></div>
    </div>
    <div class="col-lg-6">
        <div class="okno_html_title">
        <h3>Компания "Бери Окна" на протяжении 15 лет занимается производством и установкой светопрозрачных пластиковых и алюминиевых конструкций(окна, двери). </h3>
        <h3>Так же мы предлагаем нашим клиентам солнцезащитные системы и маркизы для окон и дверей от ведущих европейских производителей.</h3>  
        <h3>"Бери Окна" компания профессиональных сотрудников, задачей которых является помощь и реализация в проектах наших клиентов.</h3>
          
      
        
      </div>
      
    </div>
    <div class="col-lg-6">
    <div class="form_title">
      <h2>Написать нам</h2>
    </div>
      <form action="https://formspree.io/sale@okna.site" method="POST">
        <label>
          <span>Ваше имя:</span>
          <input type="text" name="Имя" placeholder="Ваше имя...">
        </label>

        <label>
          <span>Ваш телефон:</span>
          <input type="text" name="Телефон" placeholder="Ваш телефон..." required>
        </label>
        <textarea name="Заявка" id="" placeholder="Ваша заявка..."></textarea>
          <input type="submit" value="Отправить заявку" class="submit">
      </form>
    </div>
    
  </div>
  </div>
  
    
  </header>
  {% include footer.html %}