<!DOCTYPE html>
<html lang="ru">

  {% include head.html %}
  {% include header.html %}

<div class="container">
		<div class="row">
		<div class="col-lg-12">
			<div class="html_title"><h1>Плиссе</h1></div>
		</div>
		<div class="col-lg-6">
				<div class="okno_html_title">
					
					
			
				<img class="okno_html_img" src="{{ site.url }}/assets/img/owl/plisse.png" alt="">
			</div>
			
		</div>
		<div class="col-lg-6">
		<div class="form_title">
			<h2>Оставить заявку на плиссе</h2>
		</div>
			<form action="https://formspree.io/sale@okna.site" method="POST">
				<label>
					<span>Ваше имя:</span>
					<input type="text" name="Имя" placeholder="Ваше имя...">
				</label>

				<label>
					<span>Ваш телефон:</span>
					<input type="text" name="Телефон" placeholder="Ваш телефон..." required>
				</label>
				<textarea name="Заявка" id="" placeholder="Ваша заявка..."></textarea>
    			<input type="submit" value="Отправить заявку" class="submit">
			</form>
		</div>
		<div class="col-lg-12">
			<div class="okna_html_text">
				<h3>"Бери Окна" предлагают плиссированные шторы при помощи шнура или цепочки складываются в плотные полоски-складки, оригинально оттеняя падающий из окна свет. С помощью плиссе создается неповторимая атмосфера как всего интерьера в целом, так и отдельных зон. Этот уникальный и очень деликатный инструмент для создания оригинальных дизайнерских решений вполне может существовать и как самобытная целостная деталь интерьера.

				Материал, из которого изготавливаются такие шторы - полиэстер с несколькими уровнями пропитки, препятствующей возникновению пыли. Ухаживать за ними так же прости, как и эксплуатировать. Оригинальные шторы плиссе подружат Вас с солнечными лучами, а с помощью света и тени создадут неповторимое настроение и привнесут в Вашу жизнь максимально возможный уют.
				</h3>
				

			</div>
		</div>
	</div>
	</div>
	
		
	</header>
 {% include footer.html %}