---
layout: default
---
<div class="post">
            <div class="post-img">
                <img class="responsive-img" src="{{ site.baseurl }}{{ page.image}}/{{ page.slug }}.jpg" alt="">
              </div>
              <div class="post-contant">
                <div class="td">
                  <div class="date-item">
                    <h5 class="text-date">{{ page.date | date:"%d" }}<br><small>{{ page.date | date:"%m/%Y" }} </small></h5>
                  </div>
                  </div>
                  <div class="td">
                    <span class="title"><i class="fa fa-{{ page.icon }} " aria-hidden="true"></i> {{ page.catname }} <br></span>
                    <span class="title-name"> {{ page.title }}</span>
                    
                  </div>
                          <p>{{ content }} </p>
              </div>
            
           
          </div>
            
          </div>

